
<% form_for(@project) do |f| %>

<div class="highlight">
  <h1><%= image_tag 'project-icon.png' %> New project</h1>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class => :title %>
  </p>
  <p>
    <%= f.label :url %>
    <span class="w200 center">http://ketchup.jera.com.br/projects/</span><%= f.text_field :url, :class => 'w200' %>
  </p>
</div>
<p>
  <%= f.label :description %>
  <%= f.text_field :description %>
</p>
<p>
  <%= f.label :homepage %>
  <%= f.text_field :homepage %>
</p>
<p>
  <%= f.label :members %>
  <%= f.text_field :members_a %>
  <div id="members_div">
	
  </div>
</p>

<p class="submit">
  <%= f.submit 'Add project' %> or <%= link_to 'Cancel', projects_path %>
</p>
<% end %>

<% javascript_tag :defer => 'defer' do -%>
  $(document).ready(function() {
    $("input#project_members_a")
		.autocomplete("auto_complete_for_user_username", { multiple: false, minChars: 2 })
		.result(function(event, username) {
			$.get('/projects/user_info?username=' + username, function(data) {
				 $('div#members_div').append(data)
			})
			$('input#project_members_a').val('');
		});
  });
<% end -%>
